<!DOCTYPE html>
<html lang="en" ng-app="greatApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Post Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body ng-controller="mainCntl">

      <div class="jumbotron">
        <h2>{{message}}!</h2>
      </div>

      <!-- body goes here -->
      <div post-input></div>
      <br>
      <br>
      <br>
      <div post-lists></div>

      <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="./javascript/module.js"></script>
      <script type="text/javascript" src="./javascript/controllers/main-controller.js"></script>
      <script type="text/javascript" src="./javascript/services/posts.js"></script>
      <script type="text/javascript" src="./javascript/directives/posts-input.js"></script>
      <script type="text/javascript" src="./javascript/directives/posts-list.js"></script>
    </body>
</html>
